*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section{
    width: 100%;
    height: 45px;
    background-color: lightgray;
    color: white;
    
}
.poster-image{
    object-fit: cover;
    height: 100%;
   width: 100%;
}