.header {
    background: #496DDB;
    padding: 20px calc(50% - 500px) 10px;
    width: 100%;
}

.header__title {
    font-family: 'Luckiest Guy', cursive;
    color: #FFEEDB;
    font-size: 45px;
    margin-left: 40px;
}
